<!doctype html>
<html lang="en">
   <head>
     <title>Teensy 3.2</title>
   </head>
   <body>
    <h2>Wickerlib 2 Layer Teensy 3.2 KiCad Template</h2>
    This template is set up with the layers and design rules for OSH Park. <br />
    It also comes preset with some Wickerbox-specific tweaks.<br />
    You may want to download it and edit things to make it work for you.
    <br /><br />
    <ul>
      <li><a href="http://docs.oshpark.com/services/two-layer/">OSH Park 2 Layer Specs</a>
      <li><a href="http://wickerbox.net/wickerlib.html">Wickerlib</a></li>
    </ul>
  </body>
</html>
